node_modules/
dist/
.env
*.log
.DS_Store
youtube_history.json
*.sql

watch-history-sample.html
watch-history-test-*.html

scripts/*.html
scripts/*.json
scripts/**/*.json

__pycache__/
.pytest_cache/

# TypeScript
*.tsbuildinfo

# Frontend
frontend/dist/
frontend/node_modules/

.vscode/

.make/
